:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/*   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: var(--bs-cyan);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bs-blue: #2e0f38;
  --bs-indigo: #1a2c54;
  --bs-purple: #8351a8;
  --bs-cyan: #4d7b93;
  --bs-pink: #b45dbb;

  --bs-body-bg: #242424;
  --bs-body-color: #ffffff;

  --bs-primary: var(--bs-blue);
  --bs-secondary: var(--bs-indigo);
  --bs-success: var(--bs-purple);
  --bs-info: var(--bs-cyan);
  --bs-warning: var(--bs-pink);
  --bs-danger: var(--bs-pink);
  --bs-light: #ffffff;
  --bs-dark: #000000;
  --bs-white: #ffffff;
}


a {
  color: var(--bs-primary);
}
a:hover {
  color: var(--bs-info);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  /* background gradiant code from: https://codepen.io/P1N2O/pen/pyBNzX */
  background: linear-gradient(-45deg, var(--bs-warning), var(--bs-danger), var(--bs-info), var(--bs-success));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  color: var(--bs-body-color);
}

/* Code from: https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--bs-primary);
}

button {
  background-color: var(--bs-blue);
  color: var(--bs-white);
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--bs-pink);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.border-primary {
  border-color: var(--bs-pink);
}

.border-secondary {
  border-color: var(--bs-blue);
}

.glow {
  box-shadow: 0 0 10px var(--bs-primary); /* Change the color to the desired glow color */
}

.glow-secondary {
  box-shadow: 0 0 10px var(--bs-secondary); /* Change the color to the desired glow color */
}

.glow-success {
  box-shadow: 0 0 10px var(--bs-success); /* Change the color to the desired glow color */
}

.glow-info {
  box-shadow: 0 0 10px var(--bs-info); /* Change the color to the desired glow color */
}

.glow-warning {
  box-shadow: 0 0 10px var(--bs-warning); /* Change the color to the desired glow color */
}

.glow-danger {
  box-shadow: 0 0 10px var(--bs-danger); /* Change the color to the desired glow color */
}

.btn-primary {
  background-color: var(--bs-pink);
  color: var(--bs-white);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
  color: var(--bs-body-color);
}

#logo {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#logo:hover {
    box-shadow: 0 0 10px var(--bs-cyan);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-item {
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
}


#about-card {
  background-color: var(--bs-indigo);
}

#about-card h1 {
  color: var(--bs-white);
}

form {
  background-color: var(--bs-pink);
  color: var(--bs-body-color);
}


#contactCard {
  background-color: var(--bs-indigo);
  color: var(--bs-white);
}

#contactButton {
  transition: color 0.3s ease-in-out, 
    border-color 0.3s ease-in-out, 
    background-color 0.3s ease-in-out;
}

#contactButton:hover {
  color: var(--bs-pink);
  border-color: var(--bs-pink);
  background-color: var(--bs-light);
  transition: color 0.3s ease-in-out, 
    border-color 0.3s ease-in-out, 
    background-color 0.3s ease-in-out;
}