:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/*   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bs-blue: #2e0f38;
  --bs-indigo: #1a2c54;
  --bs-purple: #8351a8;
  --bs-cyan: #4d7b93;
  --bs-pink: #b45dbb;

  --bs-body-bg: #242424;
  --bs-body-color: #ffffff;

  --bs-primary: var(--bs-blue);
  --bs-secondary: var(--bs-indigo);
  --bs-success: var(--bs-purple);
  --bs-info: var(--bs-cyan);
  --bs-warning: var(--bs-pink);
  --bs-danger: var(--bs-pink);
  --bs-light: #ffffff;
  --bs-dark: #000000;
  --bs-white: #ffffff;
}


a {
  color: var(--bs-primary);
}
a:hover {
  color: var(--bs-info);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--bs-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bs-blue);
  color: var(--bs-white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--bs-info);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
  background-color: var(--bs-pink);
  color: var(--bs-body-color);
}

Link {
  color: var(--bs-light);
}