:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --bs-blue: #2e0f38;
  --bs-indigo: #1a2c54;
  --bs-purple: #8351a8;
  --bs-cyan: #4d7b93;
  --bs-pink: #b45dbb;

  --bs-body-bg: #242424;
  --bs-body-color: #ffffff;

  --bs-primary: var(--bs-blue);
  --bs-secondary: var(--bs-indigo);
  --bs-success: var(--bs-purple);
  --bs-info: var(--bs-cyan);
  --bs-warning: var(--bs-pink);
  --bs-danger: var(--bs-pink);
  --bs-light: #ffffff;
  --bs-dark: #000000;
  --bs-white: #ffffff;
}


a {
  color: var(--bs-primary);
}
a:hover {
  color: var(--bs-info);
}

html {
  z-index: 1;
  overflow: cover;
  ::-webkit-scrollbar {
    width: 0;
  };
  /* background gradiant code from: https://codepen.io/P1N2O/pen/pyBNzX */
  background: linear-gradient(-45deg, var(--bs-warning), var(--bs-danger), var(--bs-info), var(--bs-success));
  background-attachment: fixed;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* Code from: https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  padding-top: 32px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: transparent;
  color: var(--bs-body-color);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--bs-primary);
}

button {
  background-color: var(--bs-blue);
  color: var(--bs-white);
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--bs-pink);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.border-primary {
  border-color: var(--bs-pink);
}

.border-secondary {
  border-color: var(--bs-blue);
}

.glow {
  box-shadow: 0 0 10px var(--bs-primary); /* Change the color to the desired glow color */
}

.glow-secondary {
  box-shadow: 0 0 10px var(--bs-secondary); /* Change the color to the desired glow color */
}

.glow-success {
  box-shadow: 0 0 10px var(--bs-success); /* Change the color to the desired glow color */
}

.glow-info {
  box-shadow: 0 0 10px var(--bs-info); /* Change the color to the desired glow color */
}

.glow-warning {
  box-shadow: 0 0 10px var(--bs-warning); /* Change the color to the desired glow color */
}

.glow-danger {
  box-shadow: 0 0 10px var(--bs-danger); /* Change the color to the desired glow color */
}

.btn-primary {
  background-color: var(--bs-pink);
  color: var(--bs-white);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--bs-body-color);
}

#logoText {
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  z-index: -1;
};

.nav-item {
  transition: transform 0.1s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.03); 
  transition: transform 0.1s ease-in-out; 
}


#about-card {
  border: var(--bs-purple) 3px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

form {
  background-color: var(--bs-pink);
  color: var(--bs-body-color);
}


#contactCard {
  border: var(--bs-pink) 3px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

h1 {
  color: transparent;
  font-size: 4em;
  -webkit-text-stroke: 1px white;
  z-index: -1;
}

#contactButton {
  transition: color 0.1s ease-in-out, 
    border-color 0.1s ease-in-out, 
    background-color 0.1s ease-in-out;
}

#contactButton:hover {
  color: var(--bs-pink);
  border-color: var(--bs-pink);
  background-color: var(--bs-light);
  transition: color 0.1s ease-in-out, 
    border-color 0.1s ease-in-out, 
    background-color 0.1s ease-in-out;
}

#portfolioJumbo {
  border: var(--bs-purple) 3px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

#portfolioButton  {
  transition: scale 0.1s ease-in-out,
}

#portfolioButton:hover {
  scale: 1.03;
  transition: scale 0.1s ease-in-out;
}

#projectCard {
  border: var(--bs-purple) 3px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

#imageContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
}

#projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

#linksDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


#imageContainer:hover #projectImage {
  filter: blur(5px) contrast(90%);
  opacity: .7;
  transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#imageContainer:hover #linksDiv {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#portfolioButton {
  transition: scale 0.1s ease-in-out,
}

#linksDiv img:hover {
  scale: 1.03;
  transition: scale 0.1s ease-in-out;
}

#externalLink {
  filter: invert(1);
}

#projectTitle {
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  z-index: -1;
}